@*Cast Card Partial View will be used across multiple views in our application*@

@model ApplicationCore.Models.MovieDetailsModel







@*http://localhost:52342/casts/details/2*@
@*<ul class="list-group list-group-flush">
    <a asp-controller="Cast" asp-action="Details" asp-route-id="@Model.Casts.Id">

        <div class="row">
            <div class="col-4">
                <img src="@Cast.ProfilePath" class="rounded-circle" alt="@Cast.Name" width="30" height="38" />
            </div>
            <div class="col-4">
                <h6>@cast.Name</h6>
            </div>
            <div class="col-4">
                <h6>@cast.Character</h6>
            </div>
        </div>

    </a>*@

</ul>



