
@model ApplicationCore.Models.MovieDetailsModel

@{
    ViewData["Title"] = "Movie Details Page";
}

<div class="container-fluid">
    <!--1st row -->
    <div class="row">

        <!--1st column -->
        <div class="col-4 text-center">
            <img src="@Model.PosterUrl" class="img-fluid" alt="@Model.Title" width="200" height="400" />
        </div>

        <!--2nd column -->
        <div class="col-6">
            <div class="card-body">
                <h4 class="card-title">@Model.Title</h4>
                <p class="card-text"><small class="text-muted">@Model.Tagline</small></p>
                <p class="card-text-secondary">
                    @Model.RunTime m | @Model.ReleaseDate.Value.Year   
                    @foreach (var genre in Model.Genres)
                    {
                        <span class="badge rounded-pill bg-secondary">
                            @genre.Name
                        </span>
                    }
                </p>
                <p>
                    <span class="badge bg-success"> @Model.Reviews.Average(x => x.Rating).ToString("0.0") </span>
                </p>
                <p class="card-text">@Model.Overview</p>
            </div>
        </div>


        <!--3rd column -->
        <div class="col-2">
            <!-- Button trigger modal -->
            <div class="d-grid">
                <button type="button" class="btn btn-outline-secondary btn-block" data-bs-toggle="modal" data-bs-target="#modal1">
                    <i class="far fa-edit"></i> REVIEW
                </button>
                
                <button type="button" class="btn btn-outline-secondary btn-block" data-bs-toggle="modal" data-bs-target="#modal2">
                    Buy $ @Model.Price        
                </button>

            </div>


            <!-- Modal -->
            <div>
                <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
                    <div class="modal-dialog bg-white" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="Modal1Label">Review:</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <div class="dropdown">
                                            <a class="btn btn-secondary dropdown-toggle" id="dropdownratingButton1" data-bs-toggle="dropdown">
                                                rate
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownratingButton1">
                                                <li><a class="dropdown-item" href="#">1</a></li>
                                                <li><a class="dropdown-item" href="#">2</a></li>
                                                <li><a class="dropdown-item" href="#">3</a></li>
                                                <li><a class="dropdown-item" href="#">4</a></li>
                                                <li><a class="dropdown-item" href="#">5</a></li>
                                                <li><a class="dropdown-item" href="#">6</a></li>
                                                <li><a class="dropdown-item" href="#">7</a></li>
                                                <li><a class="dropdown-item" href="#">8</a></li>
                                                <li><a class="dropdown-item" href="#">9</a></li>
                                                <li><a class="dropdown-item" href="#">10</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="message-text" class="col-form-label">Please enter your review:</label>
                                        <textarea class="form-control" id="message-text"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div>
                <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
                    <div class="modal-dialog bg-white">
                        <div>
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="Modal1Label">Confirmation Page</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Please click Purchase button to confirm your purchase.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Purchase</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--2nd row -->
    <div class="row">
        <!--1st column -->
        <div class="col-4">
            <div class="row">
                <h5>MOVIE FACTS</h5>
                <hr />
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i style="font-size: 12px" class="fa fa-calendar"></i> Release Date <span class="badge rounded-pill bg-secondary"> @Model.ReleaseDate.Value.ToString("MMM dd, yyyy") </span></li>
                    <li class="list-group-item"><i style="font-size: 12px" class="fa fa-hourglass-half"></i> Run Time <span class="badge rounded-pill bg-secondary"> @Model.RunTime m </span></li>
                    <li class="list-group-item"><i style="font-size: 12px" class="fa fa-money-bill-alt"></i> Bos Office <span class="badge rounded-pill bg-secondary">  @String.Format("{0:C2}", Model.Revenue) </span></li>
                    <li class="list-group-item"><i style="font-size: 16px" class="material-icons">&#xe227 </i> Budget <span class="badge rounded-pill bg-secondary"> @String.Format("{0:C2}", Model.Budget) </span></li>
                    <li class="list-group-item">
                        <a class="text-decoration-none text-dark" href="@Model.TmdbUrl" target="_blank text-dark"> <i style="font-size: 16px" class="fab fa-imdb"> &nbsp; </i> </a>
                        <a class="text-decoration-none text-dark" href="#"> <i style="font-size: 16px" class="fas fa-share-square"> </i></a>
                    </li>
                </ul>

                <h5>TRAILERS</h5>
                <hr />
                @foreach (var trailer in Model.Trailers)
                {
                    <ul class="list-group list-group-flush">
    
                        <li class="list-group-item">
                            <a href="@trailer.TrailerUrl" class="text-decoration-none text-dark" target="_blank text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                                    <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
                                </svg>
                                @trailer.Name
                            </a>
                        </li>

                    </ul>
                }
            </div>
        </div>

        <!--2nd column -->
        <div class="col-8">


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>Cast</h5>


                        @foreach (var cast in Model.Casts)
                        {
                            <hr />

                            @*call the partial view here*@
                            @*<partial name="_CastCard" model="cast" />*@


                            @*http://localhost:52342/cast/details/2*@
                            <a asp-controller="cast" asp-action="details" asp-route-id="@cast.Id" class="text-decoration-none text-dark">

                                <div class="row">
                                    <div class="col-4">
                                        <img src="@cast.ProfilePath" class="rounded-circle" alt="@cast.Name" width="30" height="38" />

                                    </div>
                                    <div class="col-4">
                                        <h6>@cast.Name</h6>
                                    </div>
                                    <div class="col-4">
                                        <h6>@cast.Character</h6>
                                    </div>
                                </div>
                            </a>
                        }

                    </li>
                </ul>
        </div>
    </div>
</div>





